// General configuration used in all profiles
manifest {
  description = 'OpenEBench Benchmark Workflow' 
  nextflowVersion = '>=23.04.2'
  version = '1.0.3'
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

  docker {
      process {
          withName: validation{
            container = "eucanimage/validation:1.0"
          }
      }
      process {
          withName: compute_metrics{
            container = "eucanimage/metrics:1.0"
          }
      }
      process {
          withName: benchmark_consolidation{
            container = "eucanimage/consolidation:1.0"
          }
      }
      
      docker.enabled = true
      // set time zone for running docker containers
      docker.runOptions = '--user \$(id -u):\$(id -g) -e TZ="\$([ -z \"\$TZ\"] && cat /etc/timezone || echo \"\$TZ\")"'
  }
}

// default parameter values

params  {
  
  // INPUT parameters
  // Optional directory for all input data 
  input_data = "$baseDir/input_data"

  // set participant_id in call to nextflow with `--participant_id PARTICIPANT`
  participant_id = "DEFAULT_PARTICIPANT"
  
  // path to the predictions file used as input for the benchmarking workflow
  input_file = "${params.input_data}/participant_dir/predictions.csv"

  // directory where the 'gold standard' data is found
  goldstandard_dir = "${params.input_data}/goldstandard_dir"
  
  // file path to the aggregation template for the offline aggregation 
  template_path = "${params.input_data}/minimal_aggregation_template.json" 

   // OEB community id or community label for the benchmarking community
  community_id = "OEBC012"  // Additional parameter used for parsing the datasets generated in this workflow

// name of benchmarking event
  //event_id = "OEBE0120000002" // Additional parameter used for parsing the datasets generated in this workflow
  event_id = ""
  // List of selected changes 
  // challenges_ids = "ECI_UC7_Class" // List of all the challenges part of the event or empty field
  challenges_ids = ""

  // Optional directory where the 'public reference' data is found. It can contain files to validate the input parameters among other reference data.
  public_ref_dir = "${params.input_data}/public_ref_dir"


  // OUTPUT parameters
  // Directory and file paths where output datasets and results are written
  outdir = "$projectDir/output_data"

  // Directory where all nextflow statistics are written 
  statsdir = "${outdir}/stats"

  // File path to the validated participant JSON file 
  validation_result = "${outdir}/validated_result.json"

  // File path to the assessments datasets, which correspond to the minimal datasets compatible with the Elixir benchmarking data model (a.k.a. $participant_id.json)
  assessment_results = "${outdir}/assessment_results.json"

  // File path where all the datasets generated during the workflow, compatible with the Elixir benchmarking data model, are merged into a single JSON file (a.k.a. consolidated_result.json)
  consolidated_result = "${outdir}/consolidated_result.json"
  
  // Optional directory where other community's specific results can be written
  // otherdir "${params.ooutdir}/otherdir"

}

// By default output execution reports from nextflow
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
  overwrite = true
}
