params {
    // Input data file 
    participant_files = "$baseDir/inputs/participant_dir/participant_files.yaml"
    // input_file = "$baseDir/inputs/participant_dir/predictions.csv"
        
    // name of the tool used for the predicitions
    participant_id = "OEB"

    // Challenge IDs (in the same string, separated by spaces) for which the benchmark has to be performed
    challenges_ids  = "ECI_UC7_Class"
}
